@font-face
{
font-family: SocialIcons;
src: url('../fonts/Socialico.ttf'),
     url('../fonts/Socialico.otf'); /* IE9 */
}

h1.title{	
	font-family: 'Poiret One', cursive;
	font-size:70px;
	margin-top:20px;
	margin-bottom:0px;
	font-weight:normal;
	color:#444;
	display:inline;
	
}
.title-container{
	float:left;
}
h1,h2{
	
	text-align:center;
}

h2{
margin-top: 4px; 
font-size: 25px;
}
.wrapper{
	width:900px;
	margin-left:auto;
	margin-right:auto;	
}
.header{
	overflow:auto;
	background:white;
	position:relative;
	z-index:200;
	margin-top: 24px;
}
.body{
	min-height:400px;	
	padding-bottom:0px;
	position:relative;
	}
body{
	font-family:  'Gochi Hand', sans-serif;
	background:#ffffff;
	margin:0px;
	padding:0px;
	min-width:960px;
	overflow-y: visible;

}
html{
	margin:0px;
	padding:0px;	
}
/* BEGIN SOCIAL */
.social{
	text-align: center;
	margin:0px;
	padding:0px;	
	list-style:none;
	overflow: auto;
	margin-left:auto;
	margin-right:auto;	
	display: block;	
}
.social li {
	overflow: auto;
	float:left;
}
.social li a{
margin-top: 25px;
display: block;
width: 55px;
height: 55px;
transition: .5s opacity;
color: #555;
font-size: 68px;
text-decoration: none;
margin-left: 0px;
margin-right: 21px;
	
}
.social li a:hover{
	transition: .5s opacity;
	opacity:0.5;
}
.social li:last-child a{
	
	margin-right: 0px;
}


.rounded-me{
	width: 400px;
	height: auto;
	border-radius: 200px;
}

.left{
	float:left;
	width: 400px;
}
.right{

	margin-left: 20px;

	float:right;
	width: 480px;
}

.social{
	font-family:SocialIcons;
}


